In [ ]:

import pandas as pd
df = pd.read_excel("../data/Instagram_reels.xlsx")

## Basics Metrix
summary = df.groupby("Content Type").agg({
    "Reach":"mean",
    "Engagement Rate":"mean",
    "Retention Ratio":"mean",
    "Follows":"mean"
}).reset_index()
(summary)

  Content Type          Reach  Engagement Rate  Retention Ratio      Follows
0     Business  262558.673077         0.116959         0.357798  1698.596154
1   Motivation  198133.368421         0.127622         0.353792   673.947368

In [ ]:
##Watch Retention vs Follows

df[["Retention Ratio","Follows"]].corr()

                 Retention Ratio   Follows
Retention Ratio         1.000000  0.077294
Follows                 0.077294  1.000000

In [35]:
## Top 25% Reels
threshold = df["Reach"].quantile(0.75)
top_reels = df[df["Reach"] >= threshold]
top_reels.drop(columns=["Date"]).describe()

,Post ID,Duration (sec),Reach,Views,Likes,Shares,Comments,Saves,Follows,Average Play time,Post Hour,Engagement Rate,Retention Ratio
count,18.000000,18.000000,1.800000e+01,1.800000e+01,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,39.277778,51.722222,7.547364e+05,1.033377e+06,72172.944444,37591.000000,133.388889,9268.555556,4674.111111,20.500000,15.666667,0.155369,0.431580
std,21.999480,18.764189,4.702528e+05,6.561520e+05,51514.428090,32071.679945,110.511718,6716.144554,6419.723083,5.078791,7.145546,0.052929,0.128806
min,1.000000,11.000000,2.984670e+05,3.739200e+05,16126.000000,1663.000000,17.000000,906.000000,669.000000,8.000000,1.000000,0.074080,0.250000
25%,29.250000,42.250000,3.890402e+05,5.451890e+05,35191.750000,14345.000000,46.750000,4048.250000,1196.000000,17.500000,10.500000,0.124790,0.355244
50%,37.500000,47.500000,6.298145e+05,8.362675e+05,50131.000000,27099.500000,99.500000,7934.000000,2924.500000,22.000000,19.000000,0.143420,0.410461
75%,54.250000,63.750000,1.015983e+06,1.283027e+06,111072.250000,45290.250000,184.750000,11659.500000,4099.500000,24.750000,20.000000,0.162237,0.499050
max,71.000000,88.000000,1.998581e+06,2.682971e+06,198009.000000,107615.000000,437.000000,27382.000000,23137.000000,26.000000,22.000000,0.275967,0.727273

In [ ]:

## Reach According To Type And Time

df.groupby(["Content Type","Post Hour"])["Reach"].mean().reset_index()

   Content Type  Post Hour         Reach
0      Business          0  1.394500e+04
1      Business          2  1.351350e+05
2      Business          3  1.809550e+04
3      Business          4  2.985028e+05
4      Business          5  2.058800e+04
5      Business          7  2.783620e+05
6      Business          8  4.342330e+05
7      Business         18  2.624525e+05
8      Business         19  3.271383e+05
9      Business         20  2.479901e+05
10     Business         21  2.203912e+05
11     Business         22  5.953097e+05
12     Business         23  5.073000e+04
13   Motivation          1  4.992500e+05
14   Motivation          4  1.013985e+05
15   Motivation          5  1.180103e+06
16   Motivation          6  4.948030e+05
17   Motivation         18  8.630029e+04
18   Motivation         19  1.058210e+05
19   Motivation         20  3.116690e+05
20   Motivation         21  1.102600e+05
21   Motivation         22  2.071800e+04
22   Motivation         23  1.449100e+04